.facet-summary, .facet-summary-horizontal {
    .removeFacetValue {
        font-size: 1.35rem;
        font-weight: normal;
        padding-left: .5rem;
        padding-right: .25rem;
        color: $text-blue;
        cursor: pointer;
    }

    .bottom-remove-filter {
        button {
            font-size: 12px;
            font-weight: bold;
            position: relative;
            cursor: pointer;
        }
    }

    .clear-filter {
        display: none;
    }
}

.facet-summary:not(.facet-summary-horizontal) {
    margin-bottom: 10px;

    .component-content {
        .facet-summary-wrapper {
            background-color: $search-facet-summary-background;
            padding-top: 10px;

            .active-facet-summary-element {
                float: left;
                font-size: 12px;
                position: relative;
                padding-top: 10px;
                width: 100%;

                span {
                    font-weight: bold;
                }

                .facet-summary-name {
                    margin-right: .6rem;
                    font-weight: bold;
                }

                .facet-summary-value {                 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: .1rem .8rem;
                    padding-left: 0;
                    border-bottom: 1px solid $search-facet-summary-item-border;
                    margin-bottom: .25rem;
                    word-break: break-word;
                }
            }
        }

        .bottom-remove-filter {
            width: 100%;
            float: left;
            padding-top: 10px;

            button {
                width: 100%;
                color: $search-facet-summary-clear-color;
                border-color: transparent;
                text-align: left;
                text-indent: 10px;
                padding-left: 3px;

                &:before {
                    content: "x";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 1px;
                    color: $search-facet-summary-clear-color;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    background-color: transparent !important;
                }
            }
        }
    }
}

.facet-summary-horizontal {
    .facet-summary-wrapper {
        margin: 10px 0;
    }

	.facet-summary-value,
	.facet-summary-name {
        font-size: 1.3rem;
        float: left;
        margin-bottom: .9rem;
    }
    
    .facet-summary-name {
        padding: 2px .85rem 2px 0;
    }

	.facet-summary-value {
        border-radius: 12px;
        box-shadow: 0 2px 6px 0 $search-facet-summary-item-shadow;
        padding: 2px 18px 2px 8px;
        margin-right: .95rem;
        word-break: break-word;
        position: relative;
	}

	.removeFacetValue {
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .facet-summary-wrapper.clearfix:after,
    .facet-summary-wrapper.clearfix:before {
        display: none;
    }

    .bottom-remove-filter {
        float: left;

        button {
            width: auto;
            background: transparent;
            border: 1px solid $search-facet-summary-clear-border-horizontal;
            border-radius: 12px !important;
            padding: .20rem .9rem;
            color: $search-facet-summary-item-color-horizontal;
        }
    }
}

.facet-summary-horizontal.facet-summary-horizontal-break {
    .active-facet-summary-element {
        @include clearfix;
    }
}