.language-selector.language-selector-item-container-slideup .language-selector-item-container {
  box-shadow: 0 2px 9px 0px #b3b3b3;
  padding: 0;
  position: absolute;
  top: auto;
  bottom: 110%;
  min-width: 220px;
  z-index: 10;
  background: $bg-basic-color;
  display: none;
  left: 0;
  right: 0;
}
